body {
    font-family: 'Roboto', sans-serif;
    background-image: url("image/IMG_20231218_234954_902.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 600px;
    animation: fadeIn 1s ease-in-out;
}

img {
    width: 20%;
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
}

.form-group input:focus, .form-group textarea:focus {
    border-color: #6a11cb;
    outline: none;
}

.form-group button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #6a11cb;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group button:hover {
    background-color: #2575fc;
}

.form-group button:active {
    background-color: #1a5bbf;
}
